@using Form113.Models
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BestArt</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BESTART", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                    <li>@Html.ActionLink("À propos de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Catalogue", "IndexCategories", "Catalogue")</li>
                    <li>@Html.ActionLink("Recherche", "Index", "Search")</li>
                    <li>@Html.ActionLink("Panier", "Index", "Panier")</li>
                    @if (User.IsInRole("ADMIN"))
                    {
                        <li>@Html.ActionLink("Menu Administration", "Index", "Produits", new { Area = "Admin"}, new { })</li>}
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <ol class="breadcrumb">
            @foreach (BreadCrumItem item in (List<BreadCrumItem>)ViewBag.BreadCrum)
            {
                <li class="active">
                    @if (item.Control == "")
                    {
                        @item.Name
                    }
                    else
                    {
                        @Html.ActionLink(item.Name, item.Action, item.Control)
                    }
                </li>
            }
        </ol>
        <div class="row">

                <div class="col-lg-2"></div>

            <div class="col-lg-8">
                @RenderBody()
            </div>

                <div class="col-lg-2">
                    @Html.Action("NbProduits", "Produit")
                    @Html.Action("HighlightedProduct", "Produit")

            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Best Art</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
