@using Form113.Helper
@model DataLayer.Models.Produits

@*Affichage simple d'un produit*@

<div class="panel panel-success">
    <div class="panel-heading">@Model.Nom</div>
    <div class="panel-body">
        @Html.MyCarousel(@Model.Photos.ToList(), @Model.IdProduit)
        Provenance : @Model.Pays.Name
        @Model.Prix
    </div>
</div>