@model List<DataLayer.Models.Categories>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           <p>Libellé</p>
        </th>
        <th>
            <p>Photos</p>    
        </th>
        <th></th>
    </tr>

@foreach (var item in (List<DataLayer.Models.Categories>)Model) {
    <tr>
        <td>
           <p>@item.Libelle</p>
        </td>
        <td>
            <img src="/Uploads/@item.Photo" alt="Pas diponnibe" class="img-responsive" height="70" width="70" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCategorie }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCategorie }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCategorie })
        </td>
    </tr>
}

</table>
