@using Form113.Helper
@using Form113.Models
@model SearchViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Recherche de produits</h2>

@using (Html.BeginForm("Result","Produit",FormMethod.Post, new { @class = "form-horizontal" }))
{
    using (Html.MyFieldsetHelper("Prix"))
    {
        @*Debut Slider*@
        <div class="col-sm-12">
            <p class="col-sm-2">
                <label for="amount">Prix (en €):</label>
                <input type="text" id="amount" name="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                <input type="hidden" id="Prixmin" name="Prixmin" value="@Model.Prixmin">
                <input type="hidden" id="Prixmax" name="Prixmax" value="@Model.Prixmax">
                <input type="hidden" id="PrixMaxSlider" value="@ViewBag.PrixMaxSlider">
            </p>
            <div id="SliderRange" class="col-sm-4">
               
            </div>
        </div>
        @*Fin Slider*@
    
    <div class="col-sm-12">
        <p class="col-sm-2"><label for="Promot">Promotion</label> </p>
        <select name="Promotion">
            @for (int i = 0; i < 100; i += 10)
            {
                <option value="@i">@i</option>
            }
        </select>

    </div>
    }
    using (Html.MyFieldsetHelper("Catégories"))
    {
        if (Model.idCategories != null)
        {
            @Html.MyDropDownListFor(model => model.idCategories, Model.ListeCategorie, Model.idCategories[0])
        }
        else
        {
            @Html.MyDropDownListFor(model => model.idCategories, Model.ListeCategorie)
        }
        @Html.MyDropDownListMultipleFor(model => model.idSousCategories, null)
        <input type="hidden" id="idSC" value="@ViewBag.listeSC">
    }
    using (Html.MyFieldsetHelper("Zones"))
    {
        if (Model.idContinent != null)
        {
            @Html.MyDropDownListFor(model => model.idContinent, Model.ListeContinents, Model.idContinent[0])
        }
        else
        {
            @Html.MyDropDownListFor(model => model.idContinent, Model.ListeContinents)
        }
        
        @Html.MyDropDownListFor(model => model.idRegions, null)
        @Html.MyDropDownListMultipleFor(model => model.idPays, null)
        <input type="hidden" id="idR" value="@ViewBag.listeR">
        <input type="hidden" id="idP" value="@ViewBag.listeP">
    }
    <input type="submit" value="Rechercher" />
}

@section styles {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/Localisation/js/Localisation.js"></script>
    <script src="~/Scripts/Search/js/Search.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Plugins/Chosen/js/chosen.jquery.min.js"></script>
}