@using Form113.Helper
@using DataLayer.Models
@model List<Commentaire>
@{
    ViewBag.Title = "_CommentaireProduit";
}
<h2></h2>
@if (Model != null)
{
    foreach (var item in Model)
    {
        string Css = "";
        if (item.Num % 2 == 0)
        {
            Css = "panel-info-Perso1";
        }
        else
        {
            Css = "panel-info-Perso2";
        }
        <div class="panel @Css">


            <div class="panel-heading">@item.Utilisateurs.Identites.Nom : @item.DateComm</div>
            <div class="panel-body">
                <input type="hidden" class="IdCom" id="@item.IdCommentaire" value="@item.IdCommentaire" />
                <p>@item.Texte</p>
                <p>
                    <a href="#ZoneCommenter" class="Reply">Répondre</a>
                </p>
                <p>
                    <div class="row">
                        @if (item.Commentaire1 != null)
                        {
                            foreach (var iteminterne in item.Commentaire1)
                            {
                                <div class="col-sm-1"></div>
                                <div class="col-sm-11">
                                    @Html.Action("CommentaireProduit", "Produit", new { id = iteminterne.IdCommentaire })
                                </div>
                            }
                        }
                    </div>
            </div>
        </div>
    }
}