@using Form113.Helper
@using DataLayer.Models
@model Produits
@{
    ViewBag.Title = "_CompareProduits";
}

<h2></h2>
<div class="panel panel-info">
    <div class="panel-heading">@Model.Nom</div>
    <div class="panel-body">
        <p>Provenance : @Model.Pays.Name</p>
        <p>Prix : @Model.Prix €</p>
        <p>Nombre de vue : @Model.NbVues</p>
        <p>Stock disponible : @Model.Stock</p>
        @Html.MyCarousel(@Model.Photos.ToList(), @Model.IdProduit)
    </div>
</div>