@using Form113.Helper
@using DataLayer.Models
@model Produits
@{
    ViewBag.Title = "_CompareProduits";
}

<h2></h2>
<div class="panel panel-info">
    <div class="panel-heading">@Model.Nom</div>
    <div class="panel-body">
        <p>Provenance : @Model.Pays.Name</p>
        <p>Prix : @Model.Prix €</p>
        <p>Nombre de vue : @Model.NbVues</p>
        <p>Stock disponible : @Model.Stock</p>
        <p>
            <label for="@Model.IdProduit">Quantité :</label>
            @if (@Model.Stock != 0)
            {
                <input class="form-control Quantiter" data-val="true" data-val-number="Le champ Quantité doit être un nombre." data-val-required="Le champ Quantité est requis." id="@Model.IdProduit" name="IdProduit" value="1" type="number" min="1" max="@Model.Stock">
            }
            else
            {
                <text>Rupture de Stock !</text>
            }
        </p>
        <p>
            <input type="button" class="ButtonAjoutPanier" value="Ajouter au Panier" />
        </p>
        @Html.MyCarousel(@Model.Photos.ToList(), @Model.IdProduit)
    </div>
</div>