@using Form113.Helper
@model DataLayer.Models.Produits

<div class="panel-success">
    <div class="panel-heading">@Model.Nom</div>
    <div class="panel-body">
        <ul>
            <li>@Html.MyCarousel(@Model.Photos.ToList(), @Model.IdProduit)</li>

            <li>Provenance : @Model.Pays.Name</li>
            <li>@Model.Prix</li>

        </ul>

    </div>


</div>