@using Form113.Helper
@model DataLayer.Models.Produits

<div class="panel panel-info">
    <div class="panel-heading">@Model.Nom</div>
    <div class="panel-body">
        <p>Provenance : @Model.Pays.Name</p>
        <p>Prix : @Model.Prix €</p>
        <p>
            @Html.ActionLink("Detail", "Detail/" + Model.IdProduit, "Produit")
            <input class="single-checkbox" type="checkbox" name="ListeAComparer" value="@Model.IdProduit" id="@Model.IdProduit" />
        </p>
        <p></p>
        <p><input type="button" id="@Model.IdProduit" class="ButtonAjoutPanier" value="Ajouter au Panier" /></p>
            @Html.MyCarousel(@Model.Photos.ToList(), @Model.IdProduit)
    </div>
</div>