@using Form113.Helper
@using DataLayer.Models
@model Produits

@{
    ViewBag.Title = "Detail";
}

<h2>Détail du produit sélectionné</h2>

<input type="hidden" id="IdProduit" value="@Model.IdProduit" />

<div class="panel panel-info">
    <div class="panel-heading">@Model.Nom</div>
    <div class="panel-body">
        <p>Provenance : @Model.Pays.Name</p>
        <p>Prix : @Model.Prix €</p>
        <p>Nombre de vue : @Model.NbVues</p>
        <p>Stock disponible : @Model.Stock</p>
        <p>Description : @Model.Description</p>
        <p>
            <label for="@Model.IdProduit">Quantité :</label>
            @if(@Model.Stock != 0)
            { 
            <input class="form-control Quantiter" data-val="true" data-val-number="Le champ Quantité doit être un nombre." data-val-required="Le champ Quantité est requis." id="@Model.IdProduit" name="IdProduit" value="1" type="number" min="1" max="@Model.Stock">
            }
            else
            {
                <text>Rupture de Stock !</text>
            }
        </p>
        <p>
            <a href="#ZoneCommenter" class="Comment">Commenter</a>
        </p>
        <p>
            <input type="button" class="ButtonAjoutPanier" value="Ajouter au Panier" />
        </p>
        @Html.MyCarousel(@Model.Photos.ToList(), @Model.IdProduit, "carousel slide MyCarousel")
    </div>
</div>
@if (!User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="panel panel-danger">
            <div class="panel-heading">Il faut être connecter pour poster un commentaire ou répondre !!!</div>
        </div>
    </div>
}
<div class="row">
    @using (Html.MyFieldsetHelper("Commentaire Produit"))
    {
        if (Model.Commentaire != null)
        {
            foreach (var item in Model.Commentaire)
            {
                <div>
                    @Html.Action("CommentaireProduit", "Produit", new { id = item.IdCommentaire })
                </div>
            }
        }
    }
</div>
@using (Html.BeginForm("Commenter", "Produit", FormMethod.Post))
{
    <div id="ZoneCommenter" class="row">

        <div class="panel panel-success">
            <div class="panel-heading">Votre Commentaire</div>
            <div class="panel-body">
                <input type="hidden" id="ComProduit" name="ComProduit" value="" />
                <input type="hidden" id="ComCom" name="ComCom" value="" />
                <p class="row">
                    <textarea id="ComTexte" name="ComTexte" class="text-left TexteAreaPerso"></textarea>
                </p>
                <p>
                    <input type="submit" value="Enregistrer Commentaire" />
                </p>
            </div>
        </div>
    </div>
}

@section scripts {
    <script src="~/Scripts/Produit/js/AjoutPanier.js"></script>
}
