@using Form113.Helper
@using Form113.Models
@model ResultViewModels


@{
    ViewBag.Title = "Result";
}

<h2>Liste des produits de votre recherche</h2>

@using (Html.BeginForm("Compare", "Search"))
{
    using (Html.MyFieldsetHelper("Liste des Produits celon la recherche"))
    {
        foreach (var item in (List<DataLayer.Models.Produits>)Model.Result)
        {
            <div class="col-sm-4">
                @Html.Action("AfficheProduit", "Produit", new { id = item.IdProduit })
            </div>
        }
        <div class="row"></div>
        <input type="submit" value="Comparer" />
    }
}
@using (Html.BeginForm("RetourRecherche", "Produit", FormMethod.Post))
{
    <input type="submit" value="Retour Recherche" />
}

@using (Html.BeginForm("Pagination", "Produit", FormMethod.Post, new { id = "idFormPagination" }))
{
    <input type="hidden" id="idLastPage" value="@Model.PageQty" />
    <input type="hidden" id="idCurrentPage" name="CurrentPage" value="@Model.CurrentPage" />
    <input type="hidden" name="XmlSearchviewModel" value="@Model.XmlSearchviewModel" />
}



@Html.MyPaginationChiffreFleche(Model.CurrentPage, Model.PageQty, 2)<br />

@section scripts {
    <script src="~/Scripts/Pagination/js/Pagination.js"></script>
    <script src="~/Scripts/Search/js/VerifCheckBox.js"></script>
}