@using Form113.Helper

@model Form113.Models.CommandeViewModels

@{
    ViewBag.Title = "Index";
}

<h2>Commande</h2>

<h3 class="PrixPanier"></h3>
<h3 class="PrixPanierRemiser" style="color:red;"></h3>
<input type="hidden" id="PrixTotal" value="">
<input type="hidden" id="NbCommande" value="@Model.NbCommande">
<input type="hidden" id="NbCommandeFid" value="@Model.NbCommandeFid">
<div class="row"><br /></div>

@using (Html.BeginForm("Payement", "Commande", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <input type="hidden" class="ListeProduitCommande" name="ListeProduitCommande" value="">
    using (Html.MyFieldsetHelper("Payement Commande"))
    {
        <div class="col-sm-offset-4 col-sm-8">
            <input type="submit" value="Payement Commande" />
        </div>
    }
}

@using (Html.BeginForm("Payement", "Commande", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <input type="hidden" class="ListeProduitCommande" name="ListeProduitCommande" value="">
    using (Html.MyFieldsetHelper("Payement Commande avec adresse différente"))
    {
        @Html.MyTextBoxFor(model => model.Adresse1)
        @Html.MyTextBoxFor(model => model.Adresse2)
        @Html.MyTextBoxFor(model => model.Adresse3)

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <select id="ListeDepartements" class="chosen-select" name="NumDep">
                    @foreach (var reg in Model.RegionsDepartements.Keys)
                    {
                        <optgroup label="@reg">
                            @foreach (var dep in Model.RegionsDepartements[reg])
                            {
                                <option value="@dep.Key">@dep.Value</option>
                            }

                        </optgroup>
                    }
                </select>

            </div>
            <div class="col-sm-offset-4 col-sm-8">
                <select id="idville" name="CodeVille" class="chosen-single"></select>
            </div>
        </div>

        <div class="col-sm-offset-4 col-sm-8">
            <input type="submit" value="Payement Commande" />
        </div>
    }
}

@section styles {
    <link href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css" rel="stylesheet" />
}

@section scripts {

    <script src="~/Scripts/Produit/js/PasserCommande.js"></script>
    <script src="~/Scripts/Inscription/Register.js"></script>
    <script src="~/Plugins/Chosen/js/chosen.jquery.min.js"></script>
}
