@model DataLayer.Models.Commandes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Commandes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCommande)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCommande)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateLivraison)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLivraison)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdAdresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdAdresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilisateurs.IdAsp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilisateurs.IdAsp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusCommande.StatusCommande1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusCommande.StatusCommande1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCommande }) |
    @Html.ActionLink("Back to List", "Index")
</p>
