@model DataLayer.Models.Commandes

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Commandes</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdCommande)

        
        <div class="form-group">
            @Html.LabelFor(model => model.IdAcheteur, "IdAcheteur", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>@Model.IdAcheteur</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EtatCommande, "EtatCommande", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EtatCommande", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EtatCommande, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateCommande, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
              <p>@Model.DateCommande.ToString()</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateLivraison, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateLivraison, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateLivraison, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdAdresse, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.Action("Adresse",Model.IdAdresse)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
